*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
	background-color: hsl(220, 43%, 97%);
	color: hsl(231, 42%, 28%);
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.2;
}

button {
	border: none;
	cursor: pointer;
	font: inherit;
}
